
@{
    ViewBag.Title = "viewdata2";
}

<h2>viewdata2</h2>
<hr>
Message1 = @ViewBag.Message1
<hr>
Message2 = @ViewBag.Message2
<hr>
Message3 = @ViewBag.Message2
<hr>
Message4 = @ViewBag.Message4
<hr>
ViewData = @ViewData["ViewData"]
<hr>
ViewBag = @ViewBag.ViewBag
